@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43 44% 94%; /* Bone White */
    --foreground: 220 5% 5%; /* Charcoal */
    --card: 43 44% 94%;
    --card-foreground: 220 5% 5%;
    --popover: 43 44% 94%;
    --popover-foreground: 220 5% 5%;
    --primary: 220 5% 5%; /* Charcoal */
    --primary-foreground: 0 0% 100%; /* White */
    --secondary: 220 5% 35%; /* Medium Gray */
    --secondary-foreground: 0 0% 100%;
    --muted: 220 5% 35%;
    --muted-foreground: 220 5% 55%; /* Lighter Gray */
    --accent: 47 69% 47%; /* Antique Gold */
    --accent-foreground: 220 5% 5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 5% 5%;
    --input: 220 5% 80%;
    --ring: 220 5% 5%;
    --radius: 0.75rem;
  }
 
  .dark {
    --background: 220 5% 5%;
    --foreground: 43 44% 94%;
    --card: 220 5% 5%;
    --card-foreground: 43 44% 94%;
    --popover: 220 5% 5%;
    --popover-foreground: 43 44% 94%;
    --primary: 43 44% 94%;
    --primary-foreground: 220 5% 5%;
    --secondary: 220 5% 15%;
    --secondary-foreground: 43 44% 94%;
    --muted: 220 5% 15%;
    --muted-foreground: 43 44% 85%;
    --accent: 47 69% 57%;
    --accent-foreground: 220 5% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 43 44% 94%;
    --input: 43 44% 80%;
    --ring: 43 44% 94%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply scroll-smooth;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-foreground;
  }
  h1 {
    @apply text-4xl md:text-6xl;
  }
  h2 {
    @apply text-3xl md:text-4xl;
  }
  h3 {
    @apply text-2xl md:text-3xl;
  }
  body {
    @apply text-base md:text-lg text-secondary;
  }
}

@layer utilities {
  .animation-delay-300 {
    animation-delay: 300ms;
  }
  .animation-delay-600 {
    animation-delay: 600ms;
  }
}
