@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 20 14% 4%;
    --card: 60 56% 95%;
    --card-foreground: 20 14% 4%;
    --popover: 60 56% 95%;
    --popover-foreground: 20 14% 4%;
    --primary: 12 72% 62%;
    --primary-foreground: 60 100% 98%;
    --secondary: 60 20% 85%;
    --secondary-foreground: 20 14% 4%;
    --muted: 60 20% 85%;
    --muted-foreground: 60 10% 45%;
    --accent: 120 61% 34%;
    --accent-foreground: 60 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 80%;
    --ring: 12 72% 62%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 120 10% 10%;
    --foreground: 60 50% 90%;
    --card: 120 10% 15%;
    --card-foreground: 60 50% 90%;
    --popover: 120 10% 15%;
    --popover-foreground: 60 50% 90%;
    --primary: 12 72% 62%;
    --primary-foreground: 10 80% 95%;
    --secondary: 120 10% 25%;
    --secondary-foreground: 60 50% 90%;
    --muted: 120 10% 25%;
    --muted-foreground: 60 20% 65%;
    --accent: 120 50% 55%;
    --accent-foreground: 120 90% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 25%;
    --input: 120 10% 25%;
    --ring: 12 72% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply scroll-smooth;
  }
}
