@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 25% 97%; /* Soft Ivory */
    --foreground: 220 13% 13%; /* Dark Charcoal */
    --card: 40 25% 97%;
    --card-foreground: 220 13% 13%;
    --popover: 40 25% 97%;
    --popover-foreground: 220 13% 13%;
    --primary: 220 13% 13%; /* Dark Charcoal */
    --primary-foreground: 0 0% 100%; /* White */
    --secondary: 220 9% 46%; /* Medium Gray */
    --secondary-foreground: 0 0% 100%;
    --muted: 220 9% 46%;
    --muted-foreground: 220 9% 65%; /* Lighter Gray */
    --accent: 47 70% 47%;
    --accent-foreground: 240 2% 4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 13%;
    --input: 220 13% 80%;
    --ring: 220 13% 13%;
    --radius: 0.75rem;
  }
 
  .dark {
    --background: 220 13% 13%;
    --foreground: 40 25% 97%;
    --card: 220 13% 13%;
    --card-foreground: 40 25% 97%;
    --popover: 220 13% 13%;
    --popover-foreground: 40 25% 97%;
    --primary: 40 25% 97%;
    --primary-foreground: 220 13% 13%;
    --secondary: 220 13% 20%;
    --secondary-foreground: 40 25% 97%;
    --muted: 220 13% 20%;
    --muted-foreground: 40 25% 85%;
    --accent: 47 70% 57%;
    --accent-foreground: 240 2% 4%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 25% 97%;
    --input: 40 25% 80%;
    --ring: 40 25% 97%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply scroll-smooth;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-foreground;
  }
  h1 {
    @apply text-4xl md:text-6xl;
  }
  h2 {
    @apply text-3xl md:text-4xl;
  }
  h3 {
    @apply text-2xl md:text-3xl;
  }
  body {
    @apply text-base md:text-lg text-secondary;
  }
}

@layer utilities {
  .animation-delay-300 {
    animation-delay: 300ms;
  }
  .animation-delay-600 {
    animation-delay: 600ms;
  }
}
